* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  padding-bottom: 76px;
  padding-top: 96px;
  font-family: 'montserratregular';
  color: #303E4B;
  font-weight: normal;
}

/* header start here */
.enescent_media h1 {
  font-size: 46px;
  color: white;
  margin-top: 103px;
  font-family: 'montserratsemibold';
  font-size: 46px;
}

.enescent_media p {
  font-size: 22px;
  color: white;
  margin-top: 20px;
  font-family: 'poppinslight';
  font-weight: normal;
  line-height: 34px;
}

.header {
  position: relative;
  overflow: hidden;
}

header::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 323px;
  bottom: 0;
  right: 0;
  transform: rotate(-10deg);
  background-color: blue;

  z-index: -1;

}

header::after {
  content: '';
  background-color: #F5F9FE;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.logo img {
  width: 172px;
  padding-top: 17px;
}

.button {
  font-size: 16px;
  background-color: #6FBD13;
  border: none;
  padding: 16px 59px 16px 54px;
  border-radius: 3px;
  color: white;
  margin-top: 25px;
  font-family: 'open_sanssemibold';
  font-size: 16px;
}

.enescent {
  display: flex;
}

/* header ends here */

/* work start here */
.work {
  background-color: #F5F9FE;
  padding-bottom: 149px;
  /* justify-content: start; */
}

.how_it_work {
  padding-top: 30px;
  padding-bottom: 120px;
}

.swiper-slide {
  box-shadow: 0px 2px 10px #2067DD19;
  border-radius: 3px;
  padding: 30px 31px 47px 30px;
  /* text-align: center; */
  /* font-size: 18px; */
  background: #fff;
}

.swiper-slide h3 {
  margin-top: 30px;
  margin-bottom: 21px;
  font-family: 'montserratmedium';
  font-weight: normal;
  color: #303E4B;
}

.swiper-slide p {
  font-family: 'Poppinsregular';
  font-weight: normal;
  color: #748EAA;
  line-height: 28px;
  font-size: 15px;
}

.swiper_button .swiper-pagination {
  width: 7%;
  left: unset;
  /* right: 1%; */
  background-color: white;
  /* bottom: 10%; */
}

.swiper-pagination {
  position: unset;
}

/* work ends here */

/* Domain_information start here */
.Domain_information .domain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* width: 40%; */
}

.domain_data {
  width: 40%;
  box-shadow: 0px 0px 10px #2067DD19;
  padding: 40px;
}

.domain_data h3 {
  padding-bottom: 21px;
  color: #303E4B;
  font-family: 'montserratmedium';
  font-weight: normal;
}

.domain_data p {
  color: #748EAA;
  font-family: 'poppinsregular';
  font-size: 15px;
  line-height: 28px;
}

.domain_data:hover {
  box-shadow: 0px 0px 10px #2067DD;
  background-color: #2067DD;
  /* color: #FFFFFF; */
}

.domain_data:hover h3,
.domain_data:hover p {
  color: #FFFFFF;
}

.another_domain {
  /* width: 40%; */
  text-align: center;
}

.another_domain p {
  color: #748EAA;
  font-family: 'poppinsregular';
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

span {
  font-family: 'poppinssemibold';
}

.another_domain h3 {
  margin-top: 85px;
  margin-bottom: 21px;
  font-family: 'montserratmedium';
  color: #303E4B;
}

.about_domain {
  padding-bottom: 102px;
}

.about_us {
  /* padding-right: 715px; */
  padding-bottom: 100px;
  color: white;
}

/* Domain_information ends here */

/* about start here */
.about_us h2 {
  padding-bottom: 40px;
  padding-top: 98px;
  font-family: 'Montserratregular';
}

.about_us p {
  font-family: 'poppinsregular';
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  width: 40%;
}

.about {
  background-image: url(../images/Background@2x.png);
}

/* about ends here */

/* contact start here */
.contact_us {
  text-align: center;
}

.title h3 {
  color: #2067DD;
  margin-top: 38px;
  margin-bottom: 37px;
}

.name_mail {
  display: flex;
  gap: 31px;
}

.text {
  font-family: 'open_sanslight';
  font-size: 14px;
  padding-right: 15px;
}

.msg_text {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 10px;
  padding-left: 14px;
}

.personal_info {
  display: flex;
  gap: 11.5px;
}

.message {
  display: flex;
  gap: 30px;
  margin: 0 95px;
  box-shadow: 0px 2px 20px #2067DD33;
}

.drone-img {
  bottom: 105px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.contact_info {
  padding-top: 100px;
  padding-bottom: 50px;
}

.contact_info h2 {
  font-family: 'Montserratregular';
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 28px;
}

.contact_info p {
  font-family: 'Poppinsregular';
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.form {
  padding: 15px 0 25px 30px;
}

.name,
.message {
  font-family: 'Poppinsregular';
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
}

.msg_info {
  padding-top: 25px;
}

.text,
.msg_text {
  margin-top: 10px;
  font-family: 'OpenSanslight';
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
}

.contact_details {
  padding-top: 38px;
  padding-right: 75px;
  color: white;
  padding-bottom: 100px;
  background-color: #2067DD;
  padding-left: 30px;
}
.contact_details h3 {
  padding-bottom: 37px;
}

.personal_info {
  padding-bottom: 30px;
}

.personal_info a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.icons a {
  padding-right: 15px;
  color: rgba(255, 255, 255, 1);
}

.contact {
  padding-bottom: 126px;
  background-color: #F5F9FE;
  position: relative;
}

/* contact ends here */

/* footer start here */
.footer {
  text-align: center;
  background-color: rgba(32, 103, 221, 0.1);
  /* opacity: 0.1; */
  padding-top: 30px;
  padding-bottom: 30px;
}

footer p {
  color: black;
  /* opacity: 1; */
}

.footer p a {
  text-decoration: none;
}

/* footer ends here */

@media screen and (max-width:767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* header section */
  .heading {
    font-family: 'montserratregular';
    color: #303E4B;
    font-weight: normal;
  }

  .header {
    /* padding-left: 20px; */
    padding-bottom: 34px;
  }

  .logo {
    width: 50%;
  }

  .header::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 170px;
    bottom: 0;
    right: 0;
    transform: rotate(-8deg);
    background-color: blue;
    z-index: -1;
  }

  .header::after {
    content: '';
    background-color: #F5F9FE;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
  }

  .logo img {
    width: 35%;
  }

  .enescent {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .enescent_media h1 {
    font-size: 16px;
    margin-top: 35px;
    font-family: 'montserratsemibold';
    color: white;
  }

  .enescent_media p {
    font-size: 14px;
    line-height: 20px;
    font-family: 'poppinslight';
    font-weight: normal;
    color: white;
    /* padding-right: 145px; */
    /* width: 50%; */
  }

  .button {
    padding: 7px 30px 8px 24px;
    font-size: 9px;
    border-radius: 1px;
    font-family: 'open_sanssemibold';
    color: white;
  }

  .enescent_img img {
    width: 60%;
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
  }

  /* header end */

  /* work start */
  .work {
    padding-bottom: 50px;
  }

  .heading {
    padding-top: 25px;
    font-size: 10px;
    padding-bottom: 25px;
  }

  /* .swiper abc{
            width: 80%;
        } */
  .swiper-slide img {
    width: 15%;
  }

  .swiper-slide h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: 'montserratmedium';
    font-weight: normal;
    color: #303E4B;
  }

  .swiper-slide p {
    font-size: 13px;
    line-height: 25px;
    font-family: 'Poppinsregular';
    font-weight: normal;
    color: #748EAA;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-next:after {
    font-size: 21px;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-prev:after {
    font-size: 21px;
  }

  .swiper-pagination {
    position: unset;
  }

  /* work end */

  /* domain_information start here */
  .about_domain {
    padding-bottom: 50px;
  }

  .domain_data {
    width: 100%;
    padding: 20px;
  }

  .domain_data h3 {
    font-size: 13px;
    color: #303E4B;
    font-family: 'montserratmedium';
    font-weight: normal;
  }

  .domain_data p {
    font-size: 10px;
    line-height: 15px;
    color: #748EAA;
    font-family: 'poppinsregular';
  }

  .another_domain h3 {
    font-size: 11px;
    margin-top: 40px;
    font-family: 'montserratmedium';
    color: #303E4B;
  }

  .another_domain p {
    font-size: 10px;
    line-height: 16px;
    color: #748EAA;
    font-family: 'poppinsregular';
    font-weight: normal;
  }

  .domain_data:hover {
    box-shadow: 0px 0px 10px #2067DD;
    background-color: #2067DD;
  }

  .domain_data:hover h3,
  .domain_data:hover p {
    color: #FFFFFF;
  }

  /* about section */

  .about {
    background-image: url(../images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;

  }

  .about_us {
    padding-right: 0;
    padding-bottom: 35px;
  }

  .about_us h2 {
    padding-top: 9px;
    font-size: 13px;
    padding-bottom: 10px;
    font-family: 'Montserratregular';
  }

  .about_us p {
    font-size: 10px;
    line-height: 13px;
    width: 50%;
    font-family: 'poppinsregular';
    font-weight: normal;
  }

  .title h3 {
    color: #2067DD;
  }

  /* contact section */
  .name label {
    font-size: 13px;
    font-family: 'Poppinsregular';
    font-weight: normal;
  }

  .msg_info label {
    font-size: 13px;
  }

  .form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact {
    padding-bottom: 60px;
  }

  .msg_text {
    width: 100%;
  }

  .contact_details {
    padding-bottom: 10px;
  }

  .contact_details h3 {
    font-size: 13px;
  }

  .personal_info {
    align-items: center;
  }

  .personal_info p {
    font-size: 10px;
    line-height: 14px;
  }

  .contact_info {
    padding-top: 30px;
  }

  .contact_info h2 {
    font-size: 16px;
    font-family: 'Montserratregular';
    font-weight: normal;
  }

  .contact_info p {
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppinsregular';
    font-weight: normal;
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .name_mail {
    display: flex;
    flex-direction: column;
  }

  .text {
    padding: 2px 74px 2px 2px;
    margin-top: 4px;
    width: 100%;
    font-family: 'open_sanslight';

  }

  .msg_text {
    padding: 2px 103px 30px 5px;
    margin-top: 4px;
    font-family: 'OpenSanslight';
    font-weight: normal;
  }

  .drone-img {
    display: none;
  }

  .footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer p {
    font-size: 10px;
  }
}

@media screen and (min-width:767px) and (max-width:1023px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* header start here */
  .heading {
    font-family: 'montserratregular';
    color: #303E4B;
    font-weight: normal;
  }

  .header {
    /* padding-left: 20px; */
    padding-bottom: 34px;
  }

  .logo {
    width: 50%;
  }

  .header::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 170px;
    bottom: 0;
    right: 0;
    transform: rotate(-8deg);
    background-color: blue;
    z-index: -1;
  }

  .header::after {
    content: '';
    background-color: #F5F9FE;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
  }

  .enescent {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 30px;
  }

  .enescent_media h1 {
    font-size: 20px;
    margin-top: 35px;
    font-family: 'montserratsemibold';
    color: white;
    font-weight: normal;
  }

  .enescent_media p {
    font-size: 18px;
    line-height: 25px;
    font-family: 'poppinslight';
    font-weight: normal;
  }

  .button {
    padding: 7px 30px 8px 24px;
    font-size: 9px;
    border-radius: 1px;
  }

  .enescent_img img {
    width: 100%;
  }

  /* header end here */

  /* work start */
  .work {
    padding-bottom: 50px;
  }

  .heading {
    padding-top: 25px;
    font-size: 15px;
    padding-bottom: 25px;
  }

  /* .swiper abc{
            width: 80%;
        } */
  .swiper-slide img {
    width: 15%;
  }

  .swiper-slide h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'montserratmedium';
    font-weight: normal;
    color: #303E4B;
  }

  .swiper-slide p {
    font-size: 15px;
    line-height: 25px;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-next:after {
    font-size: 21px;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-prev:after {
    font-size: 21px;
  }

  .swiper-pagination {
    position: unset;
  }

  /* work end */

  /* domain_information start here */
  .about_domain {
    padding-bottom: 50px;
  }

  .domain_data {
    width: 40%;
    padding: 20px;
  }

  .domain_data h3 {
    font-size: 13px;
    color: #303E4B;
    font-family: 'montserratmedium';
    font-weight: normal;
  }

  .domain_data p {
    font-size: 12px;
    line-height: 17px;
    color: #748EAA;
    font-family: 'poppinsregular';
  }

  .another_domain h3 {
    font-size: 13px;
    margin-top: 40px;
    font-family: 'montserratmedium';
    color: #303E4B;
  }

  .another_domain p {
    font-size: 13px;
    line-height: 16px;
    color: #748EAA;
    font-family: 'poppinsregular';
    font-weight: normal;
  }

  .domain_data:hover {
    box-shadow: 0px 0px 10px #2067DD;
    background-color: #2067DD;
  }

  .domain_data:hover h3,
  .domain_data:hover p {
    color: #FFFFFF;
  }

  /* domain_information ends here */

  /* about section start here */
  .about {
    background-image: url(../images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
  }

  .about_us {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 75px;
  }

  .about_us h2 {
    padding-top: 20px;
    font-size: 15px;
    padding-bottom: 25px;
    font-family: 'Montserratregular';
  }

  .about_us p {
    font-size: 13px;
    line-height: 17px;
    width: 50%;
    font-family: 'poppinsregular';
    font-weight: normal;
  }

  .title h3 {
    color: #2067DD;
  }

  /* about section ends here */

  /* contact section start here */
  .name label {
    font-size: 13px;
  }

  .msg_info label {
    font-size: 13px;
  }

  .form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact {
    padding-bottom: 60px;
  }

  .msg_text {
    width: 100%;
    font-family: 'OpenSanslight';
    font-weight: normal;
  }

  .contact_details {
    padding-bottom: 10px;
  }

  .contact_details h3 {
    font-size: 18px;
  }

  .personal_info {
    align-items: center;
  }

  .personal_info p {
    font-size: 15px;
    line-height: 14px;
  }

  .contact_info {
    padding-top: 30px;
  }

  .contact_info h2 {
    font-size: 20px;
    font-family: 'Montserratregular';
    font-weight: normal;
  }

  .contact_info p {
    font-size: 15px;
    line-height: 20px;
    font-family: 'Poppinsregular';
    font-weight: normal;
  }

  .message {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }

  .name_mail {
    display: flex;
    flex-direction: column;
  }

  .text {
    padding: 2px 74px 2px 2px;
    margin-top: 4px;
    width: 100%;
    font-family: 'open_sanslight';
  }

  .msg_text {
    padding: 2px 103px 30px 5px;
    margin-top: 4px;
  }

  .drone-img {
    display: none;
  }

  /* contact section ends here */

  /* footer start here */
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer p {
    font-size: 15px;
  }

  /* footer ends here */
}

@media screen and (min-width:1024px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .drone-img {
    bottom: 105px;
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

}